<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saturdaylifestyle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.shock.saturdaylifestyle.UnravelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unravel"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.shock.saturdaylifestyle.view.login_register.RegisterForm1Activity"
            android:exported="false" />

        <activity
            android:name="com.shock.saturdaylifestyle.view.login_register.LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.shock.saturdaylifestyle.view.onboading.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.shock.saturdaylifestyle.view.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shock.saturdaylifestyle.view.main.MainActivity">

        </activity>
    </application>

</manifest>